nav{
    display: flex; /* Define que a nav será um container flexível */
    justify-content: flex-end; 
    padding: 10px;
}
nav a{
    margin: 3;
}
hr {
    margin: 0; /* Remove qualquer margem */
    border: none; /* Remove a borda padrão */
    height: 1px; /* Define a altura da linha */
    background-color: #ccc; /* Define a cor da linha */
}
nav a .barra {
    width: 1px;
    height: 20px;
    background-color: #807d7d;
    margin: 0 10px;
}
.cps{
    background-color: white;
}
.cps img{
    padding: 20px;
}
header {
    display: flex;
    justify-content: space-between; /* Alinha os elementos nas extremidades */
    align-items: center; /* Alinha verticalmente ao centro */
    padding: 0px;
}

.retangulo_sp {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    background-color: black;
    padding: 5px;
    flex-grow: 1;  
}
.titulo{
    color: #13545e;
    margin: 10px;
}

p{
    margin: 10px;
}

.divisor {
    position: relative;
    width: 100%;
    margin: 5px;
}

.progress-fino {
    width: 85%; 
    height: 5px; 
    background-color: #a00;
    border-radius: 10px;
    position: relative;
    z-index: -1;
}

.progress {
    width: 25%;
    height: 12px; 
    background-color: #a00;
    border-radius: 10px;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    left: 0;
    z-index: 1;
}
